/* Timer */
#timer {
    font-size: 12px;
    text-align: right;
}

/* Center text for container with questions and start button and high scores page */
main,
h1 {
    text-align: center;
    margin: auto;
    width: 35%;
}

/* Instruction text size */
#welcome {
    font-size: 16px;
}

/* questionTitle element */
p {
    font-size: 30px;
}

/* multipleChoice list items */
ul {
    padding-inline-start: 0px;
}

li {
    background-color: #0ED4F9; 
    padding: 1rem;
    margin-bottom: 2rem;
    list-style-type: lower-alpha;
    font-size: 16px;
}

/* Shows if time has run out */
.game-over {
    margin-top: 50px;
    font-size: 36px;
}

/* Initials form to record score, set up to show after the quiz ends */
#initials-form {
    margin-top: 50px;
    text-align: center;
    display: none;
}

/* Message if user does not input initials */
#error {
    text-align: center;
}

/* High scores list items */
#high-scores-list li {
    list-style-type: decimal;
    background-color: #228B22;
}