/* Timer */
#timer {
    font-size: 12px;
    text-align: right;
}

/* Center text for container with questions and start button and high scores page */
main {
    text-align: center;
    margin: auto;
    width: 35%;
}

/* Lowers header from the top of the browser window */
main h2 {
    margin: 3rem 0rem 1rem 0rem;
}

/* Instruction text size */
#welcome {
    font-size: 16px;
}

/* questionTitle element */
p {
    font-size: 30px;
    margin-top: 2rem;
}

/* multipleChoice list items */
ul {
    padding-inline-start: 0px;
}

li {
    background-color: #0ED4F9; 
    padding: 1rem;
    margin: 1rem 0rem 2rem 0rem;
    list-style-type: lower-alpha;
    font-size: 16px;
}

li:hover {
    border: 2px solid;
    border-color: #000000;
    cursor: pointer;
}

/* Shows if time has run out */
.game-over {
    margin-top: 50px;
    font-size: 36px;
}

/* Initials form to record score, set up to show after the quiz ends */
#initials-form {
    margin-top: 50px;
    text-align: center;
    display: none;
}

/* Message if user does not input initials */
#error {
    text-align: center;
    font-style: italic;
}

/* High scores list header */
#high-scores-list {
    padding: 10px;
}

/* High scores list items */
#high-scores-list li {
    text-align: center;
    color: #ffffff;
    list-style-type: decimal;
    list-style-position: inside;
    background-color: #3a8a3a;
    width: 100%;
}